th {
    background: rgb(177, 177, 177);
    padding: 15px;
    border: solid 1px;
    text-align: center;
  }

tr td {
    background: rgb(214, 218, 218);
    border: solid 1px;
    text-align: center;
    padding: 5px;
}  

* {
    background-color: rgb(220, 235, 235);
}

